@theme {
  /* 1. Primitives */

  /* Blue */
  --color-blue-100: #eff6ff;
  --color-blue-200: #cde5fe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #2cadff;
  --color-blue-500: #2376f3;
  --color-blue-600: #2563eb;
  --color-blue-700: #0a51bd;
  --color-blue-800: #1e40af;
  --color-blue-900: #0d2884;
  --color-blue-1000: #011454;
  --color-blue-alpha-10: #2376f31a;
  --color-blue-alpha-50: #2376f380;

  /* Dark Grey */
  --color-dark-grey-100: #f8f9fa;
  --color-dark-grey-200: #e9ecef;
  --color-dark-grey-300: #dee2e6;
  --color-dark-grey-400: #ced4da;
  --color-dark-grey-500: #adb5bd;
  --color-dark-grey-600: #6c757d;
  --color-dark-grey-700: #495057;
  --color-dark-grey-800: #495057;
  --color-dark-grey-900: #212529;
  --color-dark-grey-1000: #1a1d20;
  --color-dark-grey-alpha-10: #1a1d201a;
  --color-dark-grey-alpha-50: #1a1d2080;

  /* Green */
  --color-green-100: #e6fff2;
  --color-green-200: #dcfce7;
  --color-green-300: #bbf7d0;
  --color-green-400: #86efac;
  --color-green-500: #4ade80;
  --color-green-600: #24b314;
  --color-green-700: #16a34a;
  --color-green-800: #208d49;
  --color-green-900: #14532d;
  --color-green-1000: #043207;
  --color-green-alpha-10: #24b3141a;
  --color-green-alpha-50: #24b31480;

  /* Checkout Green */
  --color-checkout-green-500: #48ceb0;

  /* Neutral */
  --color-neutral-100: #f9fbfd;
  --color-neutral-200: #f1f6fa;
  --color-neutral-300: #ecf0f6;
  --color-neutral-400: #e2e8f0;
  --color-neutral-500: #cbd5e1;
  --color-neutral-600: #94a3b8;
  --color-neutral-700: #64748b;
  --color-neutral-800: #3e4b5b;
  --color-neutral-900: #334155;
  --color-neutral-1000: #1e293b;
  --color-neutral-black: #000000;
  --color-neutral-negative: #ffffff00;
  --color-neutral-white: #ffffff;
  --color-neutral-alpha-10: #3341551a;
  --color-neutral-alpha-50: #33415580;

  /* Purple */
  --color-purple-100: #e4eaf7;
  --color-purple-200: #cad5ef;
  --color-purple-300: #97abdd;
  --color-purple-400: #6882ca;
  --color-purple-500: #2840aa;
  --color-purple-600: #18269f;
  --color-purple-700: #13208a;
  --color-purple-800: #0f1975;
  --color-purple-900: #0a1361;
  --color-purple-1000: #070d4d;
  --color-purple-alpha-10: #2840aa1a;
  --color-purple-alpha-50: #2840aa80;

  /* Red */
  --color-red-100: #ffe9ed;
  --color-red-200: #ffd2da;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #f32345;
  --color-red-600: #d91535;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;
  --color-red-1000: #4f040f;
  --color-red-alpha-10: #f323451a;
  --color-red-alpha-50: #f3234580;

  /* Yellow */
  --color-yellow-100: #fffbeb;
  --color-yellow-200: #fff6d9;
  --color-yellow-300: #fff0b7;
  --color-yellow-400: #ffd474;
  --color-yellow-500: #ffb447;
  --color-yellow-600: #fa9500;
  --color-yellow-700: #915200;
  --color-yellow-800: #704000;
  --color-yellow-900: #3f2600;
  --color-yellow-1000: #2f1e04;
  --color-yellow-alpha-10: #fa95001a;
  --color-yellow-alpha-50: #fa950080;

  /* 2. Role Tokens */

  /* 2.1. Surfaces */
  --color-surface-brand-alpha-muted: var(--color-blue-alpha-50);
  --color-surface-brand-alpha-subtle: var(--color-blue-alpha-10);
  --color-surface-brand-contrast: var(--color-blue-400);
  --color-surface-brand-inverse: var(--color-blue-200);
  --color-surface-brand-muted: var(--color-blue-300);
  --color-surface-brand-primary: var(--color-blue-500);
  --color-surface-brand-primary-dark: var(--color-blue-600);
  --color-surface-brand-secondary: var(--color-blue-700);
  --color-surface-brand-secondary-dark: var(--color-blue-800);
  --color-surface-brand-subtle: var(--color-blue-100);
  --color-surface-brand-tertiary: var(--color-blue-900);
  --color-surface-brand-tertiary-dark: var(--color-blue-1000);

  --color-surface-checkout-primary: var(--color-checkout-green-500);

  --color-surface-dark-grey-alpha-muted: var(--color-dark-grey-alpha-50);
  --color-surface-dark-grey-alpha-subtle: var(--color-dark-grey-alpha-10);
  --color-surface-dark-grey-contrast: var(--color-dark-grey-400);
  --color-surface-dark-grey-inverse: var(--color-dark-grey-200);
  --color-surface-dark-grey-muted: var(--color-dark-grey-300);
  --color-surface-dark-grey-primary: var(--color-dark-grey-500);
  --color-surface-dark-grey-primary-dark: var(--color-dark-grey-600);
  --color-surface-dark-grey-secondary: var(--color-dark-grey-700);
  --color-surface-dark-grey-secondary-dark: var(--color-dark-grey-800);
  --color-surface-dark-grey-subtle: var(--color-dark-grey-100);
  --color-surface-dark-grey-tertiary: var(--color-dark-grey-900);
  --color-surface-dark-grey-tertiary-dark: var(--color-dark-grey-1000);

  --color-surface-default-disabled: var(--color-neutral-400);
  --color-surface-default-inverse: var(--color-dark-grey-900);
  --color-surface-default-negative: var(--color-neutral-negative);
  --color-surface-default-primary: var(--color-neutral-white);

  --color-surface-error-alpha-muted: var(--color-red-alpha-50);
  --color-surface-error-alpha-subtle: var(--color-red-alpha-10);
  --color-surface-error-contrast: var(--color-red-400);
  --color-surface-error-inverse: var(--color-red-200);
  --color-surface-error-muted: var(--color-red-300);
  --color-surface-error-primary: var(--color-red-500);
  --color-surface-error-primary-dark: var(--color-red-600);
  --color-surface-error-secondary: var(--color-red-700);
  --color-surface-error-secondary-dark: var(--color-red-800);
  --color-surface-error-subtle: var(--color-red-100);
  --color-surface-error-tertiary: var(--color-red-900);
  --color-surface-error-tertiary-dark: var(--color-red-1000);

  --color-surface-neutral-alpha-muted: var(--color-neutral-alpha-50);
  --color-surface-neutral-alpha-subtle: var(--color-neutral-alpha-10);
  --color-surface-neutral-contrast: var(--color-neutral-400);
  --color-surface-neutral-inverse: var(--color-neutral-200);
  --color-surface-neutral-muted: var(--color-neutral-300);
  --color-surface-neutral-primary: var(--color-neutral-500);
  --color-surface-neutral-primary-dark: var(--color-neutral-600);
  --color-surface-neutral-secondary: var(--color-neutral-700);
  --color-surface-neutral-secondary-dark: var(--color-neutral-800);
  --color-surface-neutral-subtle: var(--color-neutral-100);
  --color-surface-neutral-tertiary: var(--color-neutral-900);
  --color-surface-neutral-tertiary-dark: var(--color-neutral-1000);

  --color-surface-special-alpha-muted: var(--color-purple-alpha-50);
  --color-surface-special-alpha-subtle: var(--color-purple-alpha-10);
  --color-surface-special-contrast: var(--color-purple-400);
  --color-surface-special-inverse: var(--color-purple-200);
  --color-surface-special-muted: var(--color-purple-300);
  --color-surface-special-primary: var(--color-purple-500);
  --color-surface-special-primary-dark: var(--color-purple-600);
  --color-surface-special-secondary: var(--color-purple-700);
  --color-surface-special-secondary-dark: var(--color-purple-800);
  --color-surface-special-subtle: var(--color-purple-100);
  --color-surface-special-tertiary: var(--color-purple-900);
  --color-surface-special-tertiary-dark: var(--color-purple-1000);

  --color-surface-success-alpha-muted: var(--color-green-alpha-50);
  --color-surface-success-alpha-subtle: var(--color-green-alpha-10);
  --color-surface-success-contrast: var(--color-green-400);
  --color-surface-success-inverse: var(--color-green-200);
  --color-surface-success-muted: var(--color-green-300);
  --color-surface-success-primary: var(--color-green-500);
  --color-surface-success-primary-dark: var(--color-green-600);
  --color-surface-success-secondary: var(--color-green-700);
  --color-surface-success-secondary-dark: var(--color-green-800);
  --color-surface-success-subtle: var(--color-green-100);
  --color-surface-success-tertiary: var(--color-green-900);
  --color-surface-success-tertiary-dark: var(--color-green-1000);

  --color-surface-primary: var(--color-neutral-white);
  --color-surface-subtle: var(--color-neutral-100);

  --color-surface-warning-alpha-muted: var(--color-yellow-alpha-50);
  --color-surface-warning-alpha-subtle: var(--color-yellow-alpha-10);
  --color-surface-warning-contrast: var(--color-yellow-400);
  --color-surface-warning-inverse: var(--color-yellow-200);
  --color-surface-warning-muted: var(--color-yellow-300);
  --color-surface-warning-primary: var(--color-yellow-500);
  --color-surface-warning-primary-dark: var(--color-yellow-600);
  --color-surface-warning-secondary: var(--color-yellow-700);
  --color-surface-warning-secondary-dark: var(--color-yellow-800);
  --color-surface-warning-subtle: var(--color-yellow-100);
  --color-surface-warning-tertiary: var(--color-yellow-900);
  --color-surface-warning-tertiary-dark: var(--color-yellow-1000);

  /* 2.2. Strokes */
  --color-stroke-brand-hover: var(--color-blue-200);
  --color-stroke-brand-primary: var(--color-blue-500);
  --color-stroke-brand-primary-dark: var(--color-blue-600);
  --color-stroke-brand-secondary: var(--color-blue-700);
  --color-stroke-brand-subtle: var(--color-blue-100);

  --color-stroke-default-inverse: var(--color-neutral-1000);
  --color-stroke-default-primary: var(--color-neutral-500);
  --color-stroke-default-secondary: var(--color-neutral-300);
  --color-stroke-default-subtle: var(--color-neutral-100);
  --color-stroke-default-tertiary: var(--color-neutral-200);

  --color-stroke-error-primary: var(--color-red-500);
  --color-stroke-error-primary-dark: var(--color-red-600);
  --color-stroke-error-secondary: var(--color-red-700);
  --color-stroke-error-subtle: var(--color-red-100);

  --color-stroke-special-primary: var(--color-purple-500);
  --color-stroke-special-primary-dark: var(--color-purple-600);
  --color-stroke-special-secondary: var(--color-purple-700);
  --color-stroke-special-subtle: var(--color-purple-100);

  --color-stroke-success-primary: var(--color-green-500);
  --color-stroke-success-primary-dark: var(--color-green-600);
  --color-stroke-success-secondary: var(--color-green-700);
  --color-stroke-success-subtle: var(--color-green-100);

  --color-stroke-warning-primary: var(--color-yellow-500);
  --color-stroke-warning-primary-dark: var(--color-yellow-600);
  --color-stroke-warning-secondary: var(--color-yellow-700);
  --color-stroke-warning-subtle: var(--color-yellow-100);

  /* 2.3. Content */
  --color-content-brand-primary: var(--color-blue-500);
  --color-content-brand-primary-dark: var(--color-blue-600);
  --color-content-brand-subtle: var(--color-blue-100);
  --color-content-brand-tertiary-dark: var(--color-blue-1000);

  --color-content-default-disabled: var(--color-dark-grey-500);
  --color-content-default-primary: var(--color-dark-grey-900);
  --color-content-default-quaternary: var(--color-dark-grey-500);
  --color-content-default-secondary: var(--color-dark-grey-700);
  --color-content-default-tertiary: var(--color-dark-grey-600);

  --color-content-error-primary: var(--color-red-500);
  --color-content-error-primary-dark: var(--color-red-600);
  --color-content-error-subtle: var(--color-red-100);
  --color-content-error-tertiary-dark: var(--color-red-1000);

  --color-content-inverse-disabled: var(--color-dark-grey-300);
  --color-content-inverse-primary: var(--color-dark-grey-100);
  --color-content-inverse-secondary: var(--color-dark-grey-200);
  --color-content-inverse-tertiary: var(--color-dark-grey-300);

  --color-content-special-primary: var(--color-purple-500);
  --color-content-special-primary-dark: var(--color-purple-600);
  --color-content-special-subtle: var(--color-purple-100);
  --color-content-special-tertiary-dark: var(--color-purple-1000);

  --color-content-success-primary: var(--color-green-500);
  --color-content-success-primary-dark: var(--color-green-600);
  --color-content-success-subtle: var(--color-green-100);
  --color-content-success-tertiary-dark: var(--color-green-1000);

  --color-content-warning-primary: var(--color-yellow-500);
  --color-content-warning-primary-dark: var(--color-yellow-600);
  --color-content-warning-subtle: var(--color-yellow-100);
  --color-content-warning-tertiary-dark: var(--color-yellow-1000);

  /* 3. Component Tokens */

  /* 3.1. Icon */
  --color-icon-brand-inverse: var(--color-blue-200);
  --color-icon-brand-muted: var(--color-blue-300);
  --color-icon-brand-primary: var(--color-blue-500);
  --color-icon-brand-primary-dark: var(--color-blue-600);
  --color-icon-brand-secondary: var(--color-blue-700);
  --color-icon-brand-subtle: var(--color-blue-100);

  --color-icon-default-disabled-on-grey-surface: var(--color-dark-grey-500);
  --color-icon-default-disabled-on-surface-primary: var(--color-dark-grey-300);
  --color-icon-default-inverse: var(--color-neutral-white);
  --color-icon-default-primary: var(--color-neutral-1000);
  --color-icon-default-secondary: var(--color-neutral-900);
  --color-icon-default-subtle: var(--color-neutral-500);
  --color-icon-default-tertiary: var(--color-neutral-700);

  --color-icon-error-inverse: var(--color-red-200);
  --color-icon-error-muted: var(--color-red-300);
  --color-icon-error-primary: var(--color-red-500);
  --color-icon-error-primary-dark: var(--color-red-600);
  --color-icon-error-secondary: var(--color-red-700);
  --color-icon-error-subtle: var(--color-red-100);

  --color-icon-neutral-inverse: var(--color-neutral-200);
  --color-icon-neutral-muted: var(--color-neutral-300);
  --color-icon-neutral-primary: var(--color-neutral-500);
  --color-icon-neutral-primary-dark: var(--color-neutral-600);
  --color-icon-neutral-secondary: var(--color-neutral-700);
  --color-icon-neutral-subtle: var(--color-neutral-100);

  --color-icon-special-inverse: var(--color-purple-200);
  --color-icon-special-muted: var(--color-purple-300);
  --color-icon-special-primary: var(--color-purple-500);
  --color-icon-special-primary-dark: var(--color-purple-600);
  --color-icon-special-secondary: var(--color-purple-700);
  --color-icon-special-subtle: var(--color-purple-100);

  --color-icon-success-inverse: var(--color-green-200);
  --color-icon-success-muted: var(--color-green-300);
  --color-icon-success-primary: var(--color-green-500);
  --color-icon-success-primary-dark: var(--color-green-600);
  --color-icon-success-secondary-dark: var(--color-green-800);
  --color-icon-success-subtle: var(--color-green-100);

  --color-icon-warning-inverse: var(--color-yellow-200);
  --color-icon-warning-muted: var(--color-yellow-300);
  --color-icon-warning-primary: var(--color-yellow-500);
  --color-icon-warning-primary-dark: var(--color-yellow-600);
  --color-icon-warning-secondary-dark: var(--color-yellow-800);
  --color-icon-warning-subtle: var(--color-yellow-100);

  /* 3.2. Button */
  --color-btn-background-disabled: var(--color-surface-default-disabled);
  --color-btn-divider-disabled: var(--color-stroke-default-primary);
  --color-btn-icon-disabled: var(
    --color-icon-default-disabled-on-surface-primary
  );
  --color-btn-text-disabled: var(--color-content-default-disabled);

  --color-btn-primary-filled-background-default: var(
    --color-surface-brand-primary
  );
  --color-btn-primary-filled-background-hover: var(
    --color-surface-brand-primary-dark
  );
  --color-btn-primary-filled-divider: var(--color-stroke-default-tertiary);
  --color-btn-primary-filled-icon: var(--color-icon-default-inverse);
  --color-btn-primary-filled-text: var(--color-content-inverse-primary);
  --color-btn-primary-focus-ring: var(--color-surface-brand-alpha-subtle);

  --color-btn-primary-ghost-background-default: var(
    --color-surface-default-negative
  );
  --color-btn-primary-ghost-background-hover: var(--color-surface-brand-subtle);
  --color-btn-primary-ghost-divider: var(--color-stroke-brand-primary);
  --color-btn-primary-ghost-icon: var(--color-content-brand-primary);
  --color-btn-primary-ghost-text: var(--color-content-brand-primary);

  --color-btn-primary-lighter-background-default: var(
    --color-surface-brand-subtle
  );
  --color-btn-primary-lighter-background-hover: var(
    --color-surface-brand-inverse
  );
  --color-btn-primary-lighter-divider: var(--color-stroke-brand-primary);
  --color-btn-primary-lighter-icon: var(--color-content-brand-primary);
  --color-btn-primary-lighter-text: var(--color-content-brand-primary);

  --color-btn-primary-outline-background: var(--color-surface-default-primary);
  --color-btn-primary-outline-background-hover: var(
    --color-surface-brand-subtle
  );
  --color-btn-primary-outline-border-default: var(--color-stroke-brand-primary);
  --color-btn-primary-outline-divider: var(--color-stroke-brand-primary);
  --color-btn-primary-outline-icon: var(--color-content-brand-primary);
  --color-btn-primary-outline-text: var(--color-content-brand-primary);

  --color-btn-destructive-filled-background-default: var(
    --color-surface-error-primary-dark
  );
  --color-btn-destructive-filled-background-hover: var(
    --color-surface-error-secondary
  );
  --color-btn-destructive-filled-divider: var(--color-stroke-default-tertiary);
  --color-btn-destructive-filled-icon: var(--color-icon-default-inverse);
  --color-btn-destructive-filled-text: var(--color-content-inverse-primary);
  --color-btn-destructive-focus-ring: var(--color-surface-error-alpha-subtle);

  --color-btn-destructive-ghost-background-default: var(
    --color-surface-default-negative
  );
  --color-btn-destructive-ghost-background-hover: var(
    --color-surface-error-subtle
  );
  --color-btn-destructive-ghost-divider: var(--color-stroke-error-primary);
  --color-btn-destructive-ghost-icon: var(--color-content-error-primary);
  --color-btn-destructive-ghost-text: var(--color-content-error-primary);

  --color-btn-destructive-lighter-background-default: var(
    --color-surface-error-subtle
  );
  --color-btn-destructive-lighter-background-hover: var(
    --color-surface-error-inverse
  );
  --color-btn-destructive-lighter-divider: var(--color-stroke-error-primary);
  --color-btn-destructive-lighter-icon: var(--color-content-error-primary);
  --color-btn-destructive-lighter-text: var(--color-content-error-primary);

  --color-btn-destructive-outline-background: var(
    --color-surface-default-primary
  );
  --color-btn-destructive-outline-background-hover: var(
    --color-surface-error-inverse
  );
  --color-btn-destructive-outline-border-default: var(
    --color-stroke-error-primary
  );
  --color-btn-destructive-outline-divider: var(--color-stroke-error-primary);
  --color-btn-destructive-outline-icon: var(--color-content-error-primary);
  --color-btn-destructive-outline-text: var(--color-content-error-primary);

  --color-btn-neutral-filled-background-default: var(
    --color-surface-neutral-secondary-dark
  );
  --color-btn-neutral-filled-background-hover: var(
    --color-surface-neutral-tertiary
  );
  --color-btn-neutral-filled-divider: var(--color-stroke-default-tertiary);
  --color-btn-neutral-filled-icon: var(--color-icon-default-inverse);
  --color-btn-neutral-filled-text: var(--color-content-inverse-primary);
  --color-btn-neutral-focus-ring: var(--color-surface-neutral-alpha-subtle);

  --color-btn-neutral-ghost-background-default: var(
    --color-surface-default-negative
  );
  --color-btn-neutral-ghost-background-hover: var(
    --color-surface-neutral-subtle
  );
  --color-btn-neutral-ghost-divider: var(--color-stroke-default-inverse);
  --color-btn-neutral-ghost-icon: var(--color-icon-default-primary);
  --color-btn-neutral-ghost-text: var(--color-content-default-primary);

  --color-btn-neutral-lighter-background-default: var(
    --color-surface-default-disabled
  );
  --color-btn-neutral-lighter-background-hover: var(
    --color-surface-neutral-muted
  );
  --color-btn-neutral-lighter-divider: var(--color-stroke-default-inverse);
  --color-btn-neutral-lighter-icon: var(--color-icon-default-primary);
  --color-btn-neutral-lighter-text: var(--color-content-default-primary);

  --color-btn-neutral-outline-background: var(--color-surface-default-primary);
  --color-btn-neutral-outline-background-hover: var(
    --color-surface-neutral-muted
  );
  --color-btn-neutral-outline-border-default: var(
    --color-stroke-default-secondary
  );
  --color-btn-neutral-outline-divider: var(--color-stroke-default-inverse);
  --color-btn-neutral-outline-icon: var(--color-icon-default-primary);
  --color-btn-neutral-outline-text: var(--color-content-default-primary);

  --color-btn-success-focus-ring: var(--color-surface-success-alpha-subtle);
  --color-btn-success-filled-background-default: var(
    --color-surface-success-secondary-dark
  );
  --color-btn-success-filled-background-hover: var(
    --color-surface-success-secondary
  );
  --color-btn-success-filled-divider: var(--color-stroke-default-tertiary);
  --color-btn-success-filled-icon: var(--color-icon-default-inverse);
  --color-btn-success-filled-text: var(--color-content-inverse-primary);

  --color-btn-success-ghost-background-default: var(
    --color-surface-default-negative
  );
  --color-btn-success-ghost-background-hover: var(
    --color-surface-success-subtle
  );
  --color-btn-success-ghost-divider: var(--color-stroke-success-primary-dark);
  --color-btn-success-ghost-icon: var(--color-content-success-primary-dark);
  --color-btn-success-ghost-text: var(--color-content-success-primary-dark);

  --color-btn-success-lighter-background-default: var(
    --color-surface-success-inverse
  );
  --color-btn-success-lighter-background-hover: var(
    --color-surface-success-muted
  );
  --color-btn-success-lighter-divider: var(--color-stroke-default-inverse);
  --color-btn-success-lighter-icon: var(--color-icon-default-primary);
  --color-btn-success-lighter-text: var(--color-content-default-primary);

  --color-btn-success-outline-background: var(--color-surface-default-primary);
  --color-btn-success-outline-background-hover: var(
    --color-surface-success-inverse
  );
  --color-btn-success-outline-border-default: var(
    --color-stroke-success-secondary
  );
  --color-btn-success-outline-divider: var(--color-stroke-success-primary-dark);
  --color-btn-success-outline-icon: var(--color-content-success-primary-dark);
  --color-btn-success-outline-text: var(--color-content-success-primary-dark);

  /* 3.3. Input/Form Controls */
  --color-input-background-default: var(--color-surface-default-primary);
  --color-input-background-secondary: var(--color-surface-default-disabled);

  --color-input-border: var(--color-stroke-default-primary);
  --color-input-border-active: var(--color-stroke-brand-primary);
  --color-input-border-error: var(--color-stroke-error-primary);
  --color-input-border-focused: var(--color-surface-brand-alpha-subtle);
  --color-input-border-hover: var(--color-stroke-brand-hover);

  --color-input-icon: var(--color-icon-default-primary);
  --color-input-icon-disabled: var(
    --color-icon-default-disabled-on-surface-primary
  );
  --color-input-icon-error: var(--color-icon-error-primary);

  --color-input-required: var(--color-content-brand-primary);

  --color-input-text-disabled: var(--color-content-default-disabled);
  --color-input-text-error: var(--color-content-error-primary);
  --color-input-text-filled: var(--color-content-default-primary);
  --color-input-text-placeholder: var(--color-content-default-quaternary);
  --color-input-text-secondary: var(--color-content-default-quaternary);
  --color-input-text-support: var(--color-content-default-tertiary);

  /* 3.4. Table */
  --color-table-background: var(--color-surface-primary);
  --color-table-background-header: var(--color-surface-subtle);
  --color-table-border: var(--color-stroke-default-tertiary);
  --color-table-content-text: var(--color-content-default-primary);
  --color-table-content-text-secondary: var(--color-content-default-tertiary);
  --color-table-header-title: var(--color-content-default-quaternary);

  /* 3.5. Chart */
  --color-chart-1: oklch(0.646 0.222 41.116);
  --color-chart-2: oklch(0.6 0.118 184.704);
  --color-chart-3: oklch(0.398 0.07 227.392);
  --color-chart-4: oklch(0.828 0.189 84.429);
  --color-chart-5: oklch(0.769 0.188 70.08);
}

[data-theme="dark"] {
  --color-surface-primary: var(--color-dark-grey-1000);
  --color-surface-subtle: var(--color-dark-grey-900);
  --color-surface-default-primary: var(--color-dark-grey-1000);
  --color-surface-default-disabled: var(--color-dark-grey-900);
  --color-surface-default-inverse: var(--color-neutral-white);

  --color-surface-dark-grey-subtle: var(--color-dark-grey-900);
  --color-surface-dark-grey-inverse: var(--color-dark-grey-800);
  --color-surface-dark-grey-muted: var(--color-dark-grey-700);

  --color-surface-neutral-subtle: var(--color-dark-grey-900);
  --color-surface-neutral-contrast: var(--color-dark-grey-900);
  --color-surface-neutral-inverse: var(--color-dark-grey-800);
  --color-surface-neutral-muted: var(--color-dark-grey-700);

  --color-surface-error-subtle: var(--color-surface-error-alpha-subtle);
  --color-surface-error-inverse: var(--color-surface-error-alpha-muted);
  --color-surface-error-muted: var(--color-surface-error-alpha-muted);

  --color-surface-success-subtle: var(--color-surface-success-alpha-subtle);
  --color-surface-success-inverse: var(--color-surface-success-alpha-muted);
  --color-surface-success-muted: var(--color-surface-success-alpha-muted);

  --color-surface-warning-subtle: var(--color-surface-warning-alpha-subtle);
  --color-surface-warning-inverse: var(--color-surface-warning-alpha-muted);
  --color-surface-warning-muted: var(--color-surface-warning-alpha-muted);

  --color-surface-special-subtle: var(--color-surface-special-alpha-subtle);
  --color-surface-special-inverse: var(--color-surface-special-alpha-muted);
  --color-surface-special-muted: var(--color-surface-special-alpha-muted);

  --color-stroke-default-primary: var(--color-dark-grey-600);
  --color-stroke-default-secondary: var(--color-dark-grey-700);
  --color-stroke-default-tertiary: var(--color-dark-grey-800);
  --color-stroke-default-subtle: var(--color-dark-grey-900);
  --color-stroke-default-inverse: var(--color-dark-grey-200);

  --color-content-default-primary: var(--color-dark-grey-100);
  --color-content-default-secondary: var(--color-dark-grey-300);
  --color-content-default-tertiary: var(--color-dark-grey-500);
  --color-content-default-quaternary: var(--color-dark-grey-600);
  --color-content-default-disabled: var(--color-dark-grey-600);
  --color-content-inverse-disabled: var(--color-dark-grey-700);
  --color-content-inverse-primary: var(--color-dark-grey-1000);
  --color-content-inverse-secondary: var(--color-dark-grey-900);
  --color-content-inverse-tertiary: var(--color-dark-grey-800);

  --color-icon-default-primary: var(--color-dark-grey-200);
  --color-icon-default-secondary: var(--color-dark-grey-300);
  --color-icon-default-subtle: var(--color-dark-grey-500);
  --color-icon-default-tertiary: var(--color-dark-grey-400);
  --color-icon-default-disabled-on-grey-surface: var(--color-dark-grey-600);
  --color-icon-default-disabled-on-surface-primary: var(--color-dark-grey-600);

  --color-input-background-default: var(--color-dark-grey-1000);
  --color-input-background-secondary: var(--color-dark-grey-900);
  --color-input-border: var(--color-stroke-default-secondary);
  --color-input-border-hover: var(--color-stroke-brand-primary);
  --color-input-border-focused: var(--color-surface-brand-alpha-muted);
  --color-input-text-filled: var(--color-content-default-primary);
  --color-input-text-disabled: var(--color-content-default-disabled);
  --color-input-text-placeholder: var(--color-content-default-quaternary);
  --color-input-text-secondary: var(--color-content-default-quaternary);
  --color-input-text-support: var(--color-content-default-tertiary);
  --color-input-icon: var(--color-icon-default-primary);
  --color-input-icon-disabled: var(
    --color-icon-default-disabled-on-surface-primary
  );

  --color-table-background: var(--color-dark-grey-1000);
  --color-table-background-header: var(--color-dark-grey-900);
  --color-table-border: var(--color-dark-grey-900);
  --color-table-content-text: var(--color-dark-grey-100);
  --color-table-content-text-secondary: var(--color-dark-grey-500);
  --color-table-header-title: var(--color-dark-grey-600);

  --color-btn-primary-ghost-background-hover: var(
    --color-surface-brand-alpha-subtle
  );
  --color-btn-primary-lighter-background-default: var(
    --color-surface-brand-alpha-subtle
  );
  --color-btn-primary-lighter-background-hover: var(
    --color-surface-brand-alpha-muted
  );
  --color-btn-primary-outline-background-hover: var(
    --color-surface-brand-alpha-subtle
  );
  --color-btn-primary-filled-text: var(--color-white);
  --color-btn-primary-focus-ring: var(--color-surface-brand-alpha-muted);

  --color-btn-destructive-ghost-background-hover: var(
    --color-surface-error-alpha-subtle
  );
  --color-btn-destructive-lighter-background-default: var(
    --color-surface-error-alpha-subtle
  );
  --color-btn-destructive-lighter-background-hover: var(
    --color-surface-error-alpha-muted
  );
  --color-btn-destructive-outline-background-hover: var(
    --color-surface-error-alpha-subtle
  );
  --color-btn-destructive-filled-text: var(--color-white);
  --color-btn-destructive-focus-ring: var(--color-surface-error-alpha-muted);

  --color-btn-neutral-ghost-background-hover: var(--color-dark-grey-900);
  --color-btn-neutral-lighter-background-default: var(--color-dark-grey-900);
  --color-btn-neutral-lighter-background-hover: var(--color-dark-grey-800);
  --color-btn-neutral-outline-background-hover: var(--color-dark-grey-900);
  --color-btn-neutral-filled-text: var(--color-white);
  --color-btn-neutral-outline-border-default: var(
    --color-stroke-default-primary
  );
  --color-btn-neutral-focus-ring: var(--color-surface-neutral-alpha-muted);

  --color-btn-success-ghost-background-hover: var(
    --color-surface-success-alpha-subtle
  );
  --color-btn-success-ghost-divider: var(--color-stroke-success-primary);
  --color-btn-success-ghost-icon: var(--color-content-success-primary);
  --color-btn-success-ghost-text: var(--color-content-success-primary);
  --color-btn-success-lighter-background-default: var(
    --color-surface-success-alpha-subtle
  );
  --color-btn-success-lighter-background-hover: var(
    --color-surface-success-alpha-muted
  );
  --color-btn-success-lighter-divider: var(--color-stroke-success-primary);
  --color-btn-success-lighter-icon: var(--color-content-success-primary);
  --color-btn-success-lighter-text: var(--color-content-success-primary);
  --color-btn-success-outline-background-hover: var(
    --color-surface-success-alpha-subtle
  );
  --color-btn-success-filled-text: var(--color-white);
  --color-btn-success-outline-border-default: var(
    --color-stroke-success-primary
  );
  --color-btn-success-outline-divider: var(--color-stroke-success-primary);
  --color-btn-success-outline-icon: var(--color-content-success-primary);
  --color-btn-success-outline-text: var(--color-content-success-primary);
  --color-btn-success-focus-ring: var(--color-surface-success-alpha-muted);

  --color-chart-1: oklch(0.488 0.243 264.376);
  --color-chart-2: oklch(0.696 0.17 162.48);
  --color-chart-3: oklch(0.769 0.188 70.08);
  --color-chart-4: oklch(0.627 0.265 303.9);
  --color-chart-5: oklch(0.645 0.246 16.439);
}

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
