@theme {
  /* Spacing */
  --val-0: 0;
  --val-7xs: 2px;
  --val-6xs: 4px;
  --val-5xs: 6px;
  --val-4xs: 8px;
  --val-3xs: 10px;
  --val-2xs: 12px;
  --val-1xs: 14px;
  --val-xxs: 16px;
  --val-xs: 20px;
  --val-sm: 24px;
  --val-md: 30px;
  --val-lg: 40px;
  --val-xl: 50px;
  --val-2xl: 60px;
  --val-3xl: 80px;
  --val-4xl: 120px;

  /* Padding */
  --padding-0: var(--val-0);
  --padding-7xs: var(--val-7xs);
  --padding-6xs: var(--val-6xs);
  --padding-5xs: var(--val-5xs);
  --padding-4xs: var(--val-4xs);
  --padding-3xs: var(--val-3xs);
  --padding-2xs: var(--val-2xs);
  --padding-1xs: var(--val-1xs);
  --padding-xxs: var(--val-xxs);
  --padding-xs: var(--val-xs);
  --padding-sm: var(--val-sm);
  --padding-md: var(--val-md);
  --padding-lg: var(--val-lg);
  --padding-xl: var(--val-xl);
  --padding-2xl: var(--val-2xl);
  --padding-3xl: var(--val-3xl);
  --padding-4xl: var(--val-4xl);

  /* Margin */
  --margin-0: var(--val-0);
  --margin-7xs: var(--val-7xs);
  --margin-6xs: var(--val-6xs);
  --margin-5xs: var(--val-5xs);
  --margin-4xs: var(--val-4xs);
  --margin-3xs: var(--val-3xs);
  --margin-2xs: var(--val-2xs);
  --margin-1xs: var(--val-1xs);
  --margin-xxs: var(--val-xxs);
  --margin-xs: var(--val-xs);
  --margin-sm: var(--val-sm);
  --margin-md: var(--val-md);
  --margin-lg: var(--val-lg);
  --margin-xl: var(--val-xl);
  --margin-2xl: var(--val-2xl);
  --margin-3xl: var(--val-3xl);
  --margin-4xl: var(--val-4xl);

  /* Gap */
  --gap-0: var(--val-0);
  --gap-7xs: var(--val-7xs);
  --gap-6xs: var(--val-6xs);
  --gap-5xs: var(--val-5xs);
  --gap-4xs: var(--val-4xs);
  --gap-3xs: var(--val-3xs);
  --gap-2xs: var(--val-2xs);
  --gap-1xs: var(--val-1xs);
  --gap-xxs: var(--val-xxs);
  --gap-xs: var(--val-xs);
  --gap-sm: var(--val-sm);
  --gap-md: var(--val-md);
  --gap-lg: var(--val-lg);
  --gap-xl: var(--val-xl);
  --gap-2xl: var(--val-2xl);
  --gap-3xl: var(--val-3xl);
  --gap-4xl: var(--val-4xl);

  /* Radius */
  --radius-none: 0;
  --radius-6xs: 2px;
  --radius-5xs: 4px;
  --radius-4xs: 6px;
  --radius-3xs: 8px;
  --radius-2xs: 10px;
  --radius-1xs: 12px;
  --radius-xs: 16px;
  --radius-sm: 20px;
  --radius-md: 30px;
  --radius-lg: 40px;
  --radius-xl: 50px;
  --radius-2xl: 60px;
  --radius-3xl: 80px;
  --radius-max: 999px;

  /* Stroke */
  --stroke-none: 0;
  --stroke-xs: 1px;
  --stroke-sm: 2px;
  --stroke-md: 4px;
  --stroke-lg: 6px;
  --stroke-xl: 8px;
  --stroke-2xl: 10px;

  --border-width-none: var(--stroke-none);
  --border-width-xs: var(--stroke-xs);
  --border-width-sm: var(--stroke-sm);
  --border-width-md: var(--stroke-md);
  --border-width-lg: var(--stroke-lg);
  --border-width-xl: var(--stroke-xl);
  --border-width-2xl: var(--stroke-2xl);
}
