@import "tailwindcss";
@import "@korapay/react/styles.css";
@source "../node_modules/@korapay/react/dist/**/*.{js,mjs,jsx,tsx}";

@keyframes vibrate {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-1px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(1px);
  }
}

@theme {
  --font-sans: "Geist Variable", sans-serif;
  --animate-vibrate: vibrate 0.6s ease-in-out;
}

[data-invalid="true"] {
  @apply animate-vibrate;
}

@utility el-grid-* {
  --grid-min: 16rem;
  --grid-gap: 1rem;
  --grid-placement: --value(integer);
  --grid-placement: --value([integer]);

  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      min(
        100%,
        max(
          var(--grid-min),
          calc(
            (100% - ((var(--grid-placement) - 1) * var(--grid-gap))) /
              var(--grid-placement)
          )
        )
      ),
      1fr
    )
  );
}
